{% extends 'base.html' %}

{% block content %}
   
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
		test
	    </h2>
            <h3 class="post-subtitle">
		test
	    </h3>
	<p class="post-meta">Written by <a href="#">sch </a> on 2016/06/14</p>
    </div>


    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
		test11
	    </h2>
            <h3 class="post-subtitle">
		test11
	    </h3>
	<p class="post-meta">Written by <a href="#">sch </a> on 2016/06/13</p>
    </div>
   
	  <!-- Pager -->
    <ul class="pager">
        <li class="next">
            <a href="#">Older Posts</a>
        </li>
	
	<li class="next">
            <a href="static/police.zip">App Download</a>
        </li>
    </ul>


{% endblock %}